@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500&display=swap');

.App {
  font-family: 'Kanit', sans-serif;
  display: flex;
  justify-content: center;
}



.App-header {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(153,103,186,1) 41.2%, rgba(0,113,227,1) 90% );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  display: inline-block;
  backdrop-filter: grayscale(0.5) opacity(0.8);
  text-align: center;
  width: 3em;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1em;
  user-select: none;
  /* background-color: rgb(38, 231, 31); */
 
 }
 
 .activeCard {
  color: red;
  background: pink;
  border-radius: 5%;
 }
